@media screen and (min-width: 0px) {
    .main-contact{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
        .contact-ol {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            .contact-ol__li:nth-child(n){
                font-weight: 900;
                .contact-ol__li--el>li{
                    margin: 5px 0;
                }
                .contac-ul__reseau{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin: 10px 0 0 0;
                    li > a > i{
                        font-size: 20px;
                        color: #000000;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .main-contact{
        padding: 50px 50px 90px 50px;
        .contact-ol {
            list-style-type: decimal;
            padding: 0 0 0 30px;
        }
    }
}
@media screen and (min-width: 992px) {
    .main-contact{
        align-items: center;
        h1,.p-contact,.contact-ol {
            width: 40%;
        }
    }
}
